/*홈 화면*/
#home {
  font-family: "Jua", sans-serif;
  width: 720px;
  height: 720px;
  background-image: url("../img/backgrounds/background_maple_full2.png");
  background-size: 720px 720px;
  position: relative;
}
#home_logo {
  position: absolute;
  top: 65px;
  left: 80px;
}
#home_allage {
  position: absolute;
  width: 90px;
  top: 10px;
  left: 10px;
}
#home_brickout {
  position: absolute;
  width: 200px;
  top: 200px;
  left: 250px;
}
#home_menu1 {
  position: absolute;
  width: 180px;
  top: 350px;
  left: 15px;
}
#home_menu2 {
  position: absolute;
  width: 180px;
  top: 430px;
  left: 15px;
}
#home_menu3 {
  position: absolute;
  width: 180px;
  top: 510px;
  left: 15px;
}
#home_menu1_span {
  font-size: 32px;
  position: absolute;
  top: 380px;
  left: 53px;
}
#home_menu2_span {
  font-size: 32px;
  position: absolute;
  top: 460px;
  left: 53px;
}
#home_menu3_span {
  font-size: 32px;
  position: absolute;
  top: 540px;
  left: 53px;
}
